<div class="container px-lg-5 py-lg-4">
  <div class="row col-lg-12">
    <div class="col-lg-4"> 
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/dashboard/dashboard.jpg" class="card-img-top" alt="...">
        <div class="card-header">Black Pepper (கருமிளகு)</div>
          <!-- body -->
          <div class="card-body g-0">
            <div class="row col-md-12">
              <label class="stock-available"> <i class="fa fa-product-hunt"></i> Available</label>
            </div>
            <div class="row col-md-12">
              <label class="price"> ₹ 600 | 100 gm </label>
            </div>  
            <div class="row py-2 col-md-12 m-0">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="0"selected>100 gms - Rs 150.00</option>
                <option value="1">200 gms - Rs 250.00</option>
                <option value="2">200 gms - Rs 350.00</option>
                <option value="3">400 gms - Rs 550.00</option>
              </select>
            </div>
            <div class="row py-md-1">
              <div class="col-lg-12 m-lg-auto">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Qty</span>
                    <input type="text" class="form-control text-cntl"  
                    value="1" >
                    &nbsp;&nbsp;
                    <span>
                        <div class="m-lg-auto justify-content-end">
                          <button class="btn">
                            <i class="fa fa-shopping-cart"></i> ADD</button>
                        </div>   
                      </span>
                      &nbsp;&nbsp;
                    <span>
                      <div class="m-lg-auto">
                        <button class="btn">
                          <i class="fa fa-shopping-basket"></i> VIEW</button>
                      </div>             
                      </span>
                  </div>
                  
                </div> 
              </div>
              
            </div>     
            <!-- rating -->         
            <div class="row col-md-12 py-md-1">
              <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star"></i>
                  </div>                 
                </div>   
              </div>
              <div class="col-md-6">
                <i class="fa fa-info-circle"></i><a class="tips">Tips</a> 
              </div>
            </div>   
          </div>
          <!-- body --> 
      </div>
    </div>
    
    <div class="col-lg-4"> 
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/dashboard/dashboard.jpg" class="card-img-top" alt="...">
        <div class="card-header">Black Pepper (கருமிளகு)</div>
          <!-- body -->
          <div class="card-body g-0">
            <div class="row col-md-12">
              <label class="stock-Not-available"> <i class="fa fa-close"></i> Not Available</label>
            </div>
            <div class="row col-md-12">
              <label class="price"> ₹ 600 | 100 gm </label>
            </div>  
            <div class="row py-2 col-md-12 m-0">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="0"selected>100 gms - Rs 150.00</option>
                <option value="1">200 gms - Rs 250.00</option>
                <option value="2">200 gms - Rs 350.00</option>
                <option value="3">400 gms - Rs 550.00</option>
              </select>
            </div>
            <div class="row py-md-1">
              <div class="col-lg-12 m-lg-auto">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Qty</span>
                    <input type="text" class="form-control text-cntl"  
                    value="1" >
                    &nbsp;&nbsp;
                    <span>
                        <div class="m-lg-auto justify-content-end">
                          <button class="btn disabled">
                            <i class="fa fa-shopping-cart"></i> ADD</button>
                        </div>   
                      </span>
                      &nbsp;&nbsp;
                    <span>
                      <div class="m-lg-auto">
                        <button class="btn disabled">
                          <i class="fa fa-shopping-basket"></i> VIEW</button>
                      </div>             
                      </span>
                  </div>
                  
                </div> 
              </div>
              
            </div>     
            <!-- rating -->         
            <div class="row col-md-12 py-md-1">
              <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star"></i>
                  </div>                 
                </div>   
              </div>
              <div class="col-md-6">
                <i class="fa fa-info-circle"></i><a class="tips">Tips</a> 
              </div>
            </div>   
          </div>
          <!-- body --> 
      </div>
    </div>

    <div class="col-lg-4"> 
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/dashboard/dashboard.jpg" class="card-img-top" alt="...">
        <div class="card-header">Black Pepper (கருமிளகு)</div>
          <!-- body -->
          <div class="card-body g-0">
            <div class="row col-md-12">
              <label class="stock-available"> <i class="fa fa-product-hunt"></i> Available</label>
            </div>
            <div class="row col-md-12">
              <label class="price"> ₹ 600 | 100 gm </label>
            </div>  
            <div class="row py-2 col-md-12 m-0">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="0"selected>100 gms - Rs 150.00</option>
                <option value="1">200 gms - Rs 250.00</option>
                <option value="2">200 gms - Rs 350.00</option>
                <option value="3">400 gms - Rs 550.00</option>
              </select>
            </div>
            <div class="row py-md-1">
              <div class="col-lg-12 m-lg-auto">
                <div class="form-group">
                  <div class="input-group input-group-sm">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Qty</span>
                    <input type="text" class="form-control text-cntl"  
                    value="1" >
                    &nbsp;&nbsp;
                    <span>
                        <div class="m-lg-auto justify-content-end">
                          <button class="btn">
                            <i class="fa fa-shopping-cart"></i> ADD</button>
                        </div>   
                      </span>
                      &nbsp;&nbsp;
                    <span>
                      <div class="m-lg-auto">
                        <button class="btn">
                          <i class="fa fa-shopping-basket"></i> VIEW</button>
                      </div>             
                      </span>
                  </div>
                  
                </div> 
              </div>
              
            </div>     
            <!-- rating -->         
            <div class="row col-md-12 py-md-1">
              <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="ratings">
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star rating-color"></i>
                      <i class="fa fa-star"></i>
                  </div>                 
                </div>   
              </div>
              <div class="col-md-6">
                <i class="fa fa-info-circle"></i><a class="tips">Tips</a> 
              </div>
            </div>   
          </div>
          <!-- body --> 
      </div>
    </div>
  </div> 
</div>