<div class="container py-4">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <img src="../../../../assets/images/dashboard/dashboard.jpg" 
              class="card-img-top h-100" alt="...">
            </div>
            
            <div class="col-sm-6" style="background: #f8f6f6b9;">
              <div class="card-header" style="text-align:center">Forgot - Password</div>
              <div class="card-body">
                 
                <div class="row py-md-1">
                  <div class="input-group">                   
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="Email or Mobile Number">
                  </div>
                </div>
                 
                <div class="row py-md-1">
                  <div class="input-group">                   
                    <span class="input-group-text">@</span>
                    <input type="password" class="form-control" placeholder="New password">
                  </div>
                </div>
              
                <div class="row py-md-3 text-center">
                  <span>
                    <button type="button" class="btn btn-primary fa fa-sign-in">&nbsp;Sign in</button>
                     &nbsp;
                     <button type="button" class="btn btn-warning fa fa-close">&nbsp;Cancel</button>
                  </span> 
                </div>   
                          
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  