.bg-Color{
  background: #f8f6f6b9;
}
.carousel {
  width:100%;
  max-height: 270px !important;
}
.carousel-inner{
  width:100%;
  max-height: 270px !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width:100%;
  max-height: 270px !important;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
}

.form-control .text-cntl{
  width: 100px;
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(201, 169, 27);
}
.card-header{
  background:#efefef;
  /* background: linear-gradient(100deg,
          var(--linear-gradient-color-1),
          var(--linear-gradient-color-2),
          var(--linear-gradient-color-3),
          var(--linear-gradient-color-4)); */
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.ratings{
  margin-right:10px;
}

.stock-available{
  color: #428005;
  font-weight: bold;
  font-size:16px !important;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.stock-Not-available{
  color: #dd4c09;
  font-weight: bold;
  font-size:16px !important;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.price {
  color: #d37c09;
  font-weight: bold;
  font-size:16px !important;
  font-family: 'Roboto', sans-serif;
}
.ratings i{
  color:#cecece;
  font-size:18px;
}

.rating-color{
  color:#fbc634 !important;
}

.review-count{
  font-weight:400;
  margin-bottom:2px;
  font-size:24px !important;
}

.small-ratings i{
color:#cecece;   
}

.review-stat{
  font-weight:100;
  font-size:12px;
  margin-bottom:2px;
}
.tips{
  color:#fbc634 !important;
  font-weight: bold;
  font-size:16px !important;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
}
.tips:hover {
  color: blue;
}

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  
  color:#232323;
  float:left;
  background:#efefef;
  
  border-radius:0 0 5px 5px;
  position: relative;
  
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
   
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 62%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  /* border: 2px solid rgba(255, 255, 255, 1); */
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  /* z-index:99999; */
} 
